body {
    background-color: #ebebeb;
}

.forecast-card {
    background-color: white;
    margin-bottom: 1em;
    padding: 1em;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    
}

.forecasts a {
    color: black;
    text-decoration: none;

}

.forecast-card-header .day{
    font-size: 1.2em;
    font-variant: small-caps;
}

.forecast-card-details dl {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
}

.forecast-icon {
    font-size: 3em;
}

.forecast-card-general .temperature {
    font-size: 3em;
    font-weight: bold;
}

.map-card {
    background-color: white;
    margin-bottom: 1em;
    padding: 1em;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.overlay-text h1{
    font-size: 4em; 
}

/* Small screens */
@media (max-width: 768px) {
    .overlay-text h1{
        font-size: 2em; 
    }
}

/* Medium screens */
@media (min-width: 769px) and (max-width: 992px) {
    .overlay-text h1{
        font-size: 3em; 
    }
}
