{% extends 'layout_boxed.html.twig' %}

{% block title %}BetterWeather{% endblock %}

{% block content %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello! ✅</h1>

    In this homepage there will be
    <ul>
        <li>The weather forecast for today at the nearest time in all cities</li>
        <li>Links to the cities for more detailed information</li>
    </ul>


</div>
{% endblock %}
